html {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;

    background-color: var(--color-white);
}

img {
    width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.not-hovered,
.not-clicked {
    opacity: 0.5;
    color: var(--color-text);

    @include respond(phone) {
        opacity: 1;
    }
}

.search {
    @include displayFlex(row, nowrap, center, space-between, center);
    border: 1px solid var(--border-color);
    position: relative;
    width: 252px;
    height: 56px;

    &__icon {
        width: 24px;
        height: 24px;

        &::before {
            content: url("../../images/icons/search-white.svg");
            width: 100%;
            height: 100%;
        }
    }
    
    &__input {
        padding: 19px 10px;
        border: none;
        width: 100%;
        
        &:focus {
            outline: none;
        }
    }
}


.container {
    width: 1124px;
    margin: 0 auto;
    //border: 1px dotted red;

    @include respond(tab-land) { 
        //border: 1px dotted green;
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
        padding: 0 40px;
    }
    /* 1024, 912, 820, 768 */
    @include respond(tab-port) {
        //border: 1px dotted blue;
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
        padding: 0 20px;
    }
     /* 540 */
    @include respond(phone) {
        //border: 1px dotted pink;
    }
}