:root {
    --color-white: #ffffff;
    --color-black: #010114;
    --color-text: #212529;

    --color-red: red;
    --color-gray: #F1F1F1;
    --color-gray-dark: #B1B1B1;
    
    --border-color: #EDEDED;
}